04-build/n8n-system/workflows/templates/random-number-fingerprint-runner-template.json
{
  "name": "Random Number Fingerprint - Experiment Runner (Template)",
  "nodes": [
    {
      "parameters": {},
      "id": "b3eaf47a-9c7d-4d79-a85a-4a2cdb58a101",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1220,
        80
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "ExperimentCases"
        },
        "options": {}
      },
      "id": "7440e82e-2ffd-4ffd-b3f7-1f6e85e4dd76",
      "name": "Read Experiment Cases",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1000,
        80
      ],
      "credentials": null
    },
    {
      "parameters": {
        "jsCode": "function clean(value) {\n  return String(value ?? '').trim();\n}\n\nfunction enabled(value) {\n  return ['true', 'yes', '1', 'y'].includes(clean(value).toLowerCase());\n}\n\nfunction toNumber(value, fallback) {\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? parsed : fallback;\n}\n\nconst runId = 'rn_' + new Date().toISOString().replace(/[:.]/g, '-');\nconst outputs = [];\nlet counter = 0;\n\nfor (const item of $input.all()) {\n  const row = item.json || {};\n  if (!enabled(row.enabled)) continue;\n\n  const repetitions = Math.max(1, Math.min(toNumber(row.repetitions, 1), 10000));\n  const seedPolicy = clean(row.seed_policy || 'none').toLowerCase();\n  const seedStart = toNumber(row.seed_start, 1);\n\n  for (let i = 1; i <= repetitions; i += 1) {\n    counter += 1;\n    let seedValue = '';\n    if (seedPolicy === 'fixed') seedValue = seedStart;\n    if (seedPolicy === 'increment' || seedPolicy === 'changing') seedValue = seedStart + i - 1;\n\n    outputs.push({\n      json: {\n        run_id: runId,\n        sample_id: runId + '_' + String(counter).padStart(6, '0'),\n        requested_at_ms: Date.now(),\n        case_id: clean(row.case_id),\n        model_id: clean(row.model_id),\n        provider_label: clean(row.provider_label),\n        prompt_id: clean(row.prompt_id),\n        prompt_text: clean(row.prompt_text),\n        condition_label: clean(row.condition_label || 'model_only'),\n        provider_order: clean(row.provider_order),\n        allow_fallbacks: clean(row.allow_fallbacks || 'TRUE'),\n        require_parameters: clean(row.require_parameters || 'FALSE'),\n        provider_ignore: clean(row.provider_ignore),\n        temperature: toNumber(row.temperature, 1),\n        top_p: toNumber(row.top_p, 1),\n        reasoning_effort: clean(row.reasoning_effort),\n        max_tokens: Math.max(16, toNumber(row.max_tokens, 16)),\n        repetition_index: i,\n        seed_policy: seedPolicy,\n        seed_value: seedValue,\n        notes: clean(row.notes),\n      },\n    });\n  }\n}\n\nreturn outputs;"
      },
      "id": "e63835a6-0474-47ad-a8ec-f53083e03cc8",
      "name": "Expand Experiment Matrix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -760,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify((() => { const splitList = (value) => String(value || '').split(',').map((v) => v.trim()).filter(Boolean); const body = { model: $json.model_id || 'openai/gpt-chat-latest', messages: [{ role: 'user', content: $json.prompt_text || 'Pick a random integer from 1 to 100. Reply with only the number.' }], temperature: Number($json.temperature || 1), top_p: Number($json.top_p || 1), max_tokens: Math.max(16, Number($json.max_tokens || 16)), stream: false }; const providerOrder = splitList($json.provider_order); const providerIgnore = splitList($json.provider_ignore); if (providerOrder.length || providerIgnore.length || $json.allow_fallbacks || $json.require_parameters) { body.provider = {}; if (providerOrder.length) body.provider.order = providerOrder; if (providerIgnore.length) body.provider.ignore = providerIgnore; if ($json.allow_fallbacks !== '' && $json.allow_fallbacks !== undefined && $json.allow_fallbacks !== null) body.provider.allow_fallbacks = String($json.allow_fallbacks).toLowerCase() !== 'false'; if (String($json.require_parameters || '').toLowerCase() === 'true') body.provider.require_parameters = true; } if ($json.reasoning_effort) body.reasoning = { effort: $json.reasoning_effort, exclude: true }; if ($json.seed_value !== '' && $json.seed_value !== undefined && $json.seed_value !== null) body.seed = Number($json.seed_value); return body; })()) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ad9bcfcb-d394-4222-a608-7f3b77108f1b",
      "name": "OpenRouter Chat Completion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -500,
        -120
      ],
      "credentials": null
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "d90dcf29-4d03-463a-b553-e4ad4164fae5",
      "name": "Merge Request + Response",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -260,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "function pickText(values) {\n  for (const value of values) {\n    if (typeof value === 'string' && value.trim()) return value.trim();\n    if (value && typeof value === 'object') return JSON.stringify(value);\n  }\n  return '';\n}\n\nfunction maybeNumber(value) {\n  if (value === null || value === undefined || value === '') return null;\n  const parsed = Number(value);\n  return Number.isFinite(parsed) ? parsed : null;\n}\n\nfunction firstInteger(text) {\n  const match = String(text || '').match(/-?\\d+/);\n  return match ? Number(match[0]) : null;\n}\n\nfunction isPrime(n) {\n  if (!Number.isInteger(n) || n < 2) return false;\n  for (let i = 2; i * i <= n; i += 1) {\n    if (n % i === 0) return false;\n  }\n  return true;\n}\n\nfunction cleanValue(text) {\n  return String(text || '')\n    .trim()\n    .split(/\\r?\\n/)[0]\n    .replace(/^[\"']+|[\"'.,;:!?]+$/g, '')\n    .trim();\n}\n\nfunction parseResponse(promptId, responseText) {\n  const prompt = String(promptId || '').toLowerCase();\n  const raw = cleanValue(responseText);\n  const integer = firstInteger(raw);\n\n  if (prompt.includes('option_abcd')) {\n    const match = raw.toUpperCase().match(/\\b[A-D]\\b|^[A-D]/);\n    return {\n      response_type: 'option_abcd',\n      response_value: match ? match[0][0] : raw.toUpperCase(),\n      valid_response: Boolean(match),\n      response_parse_error: match ? '' : 'No A-D option found',\n    };\n  }\n\n  if (prompt.includes('letter_a_z')) {\n    const match = raw.toUpperCase().match(/\\b[A-Z]\\b|^[A-Z]/);\n    return {\n      response_type: 'letter_a_z',\n      response_value: match ? match[0][0] : raw.toUpperCase(),\n      valid_response: Boolean(match),\n      response_parse_error: match ? '' : 'No A-Z letter found',\n    };\n  }\n\n  if (prompt.includes('year_1900_2099')) {\n    const valid = Number.isInteger(integer) && integer >= 1900 && integer <= 2099;\n    return {\n      response_type: 'year_1900_2099',\n      response_value: valid ? String(integer) : raw,\n      valid_response: valid,\n      response_parse_error: valid ? '' : 'No year from 1900 to 2099 found',\n    };\n  }\n\n  if (prompt.includes('prime_under_100')) {\n    const valid = Number.isInteger(integer) && integer > 1 && integer < 100 && isPrime(integer);\n    return {\n      response_type: 'prime_under_100',\n      response_value: valid ? String(integer) : raw,\n      valid_response: valid,\n      response_parse_error: valid ? '' : 'No prime number under 100 found',\n    };\n  }\n\n  if (prompt.includes('number') || prompt.includes('basic_1_100') || prompt.includes('fair_draw') || prompt.includes('human_random')) {\n    const valid = Number.isInteger(integer) && integer >= 1 && integer <= 100;\n    return {\n      response_type: 'integer_1_100',\n      response_value: valid ? String(integer) : raw,\n      valid_response: valid,\n      response_parse_error: valid ? '' : 'No integer from 1 to 100 found',\n    };\n  }\n\n  const valid = raw.length > 0 && raw.length <= 80 && /[A-Za-z]/.test(raw);\n  return {\n    response_type: 'free_text_choice',\n    response_value: raw.toLowerCase(),\n    valid_response: valid,\n    response_parse_error: valid ? '' : 'No concise text choice found',\n  };\n}\n\nreturn $input.all().map((item) => {\n  const j = item.json || {};\n  const usage = j.usage || j.data?.usage || j.body?.usage || {};\n  const responseText = pickText([\n    j.choices?.[0]?.message?.content,\n    j.data?.choices?.[0]?.message?.content,\n    j.body?.choices?.[0]?.message?.content,\n    j.response?.choices?.[0]?.message?.content,\n    j.output,\n    j.response,\n    j.text,\n    j.message?.content,\n  ]);\n\n  const parsed = firstInteger(responseText);\n  const valid = Number.isInteger(parsed) && parsed >= 1 && parsed <= 100;\n  const responseParse = parseResponse(j.prompt_id, responseText);\n  const promptTokens = maybeNumber(usage.prompt_tokens ?? usage.input_tokens);\n  const completionTokens = maybeNumber(usage.completion_tokens ?? usage.output_tokens);\n  const reasoningTokens = maybeNumber(usage.completion_tokens_details?.reasoning_tokens ?? usage.reasoning_tokens);\n  const totalTokens = maybeNumber(usage.total_tokens) ?? (\n    promptTokens !== null || completionTokens !== null\n      ? Number(promptTokens || 0) + Number(completionTokens || 0)\n      : null\n  );\n  const cost = maybeNumber(usage.cost ?? usage.total_cost ?? j.cost ?? j.total_cost);\n  const latencyMs = Math.max(0, Date.now() - Number(j.requested_at_ms || Date.now()));\n  const errorMessage = pickText([j.error?.message, j.data?.error?.message, j.body?.error?.message]);\n  const errorStatus = pickText([j.error?.code, j.statusCode, j.status]);\n\n  return {\n    json: {\n      run_id: j.run_id,\n      sample_id: j.sample_id,\n      measured_at: new Date().toISOString(),\n      case_id: j.case_id,\n      model_id: j.model_id,\n      provider_label: j.provider_label,\n      prompt_id: j.prompt_id,\n      prompt_text: j.prompt_text,\n      condition_label: j.condition_label,\n      reasoning_effort: j.reasoning_effort,\n      temperature: j.temperature,\n      top_p: j.top_p,\n      max_tokens: j.max_tokens,\n      repetition_index: j.repetition_index,\n      seed_policy: j.seed_policy,\n      seed_value: j.seed_value,\n      response_text: responseText,\n      response_value: responseParse.response_value,\n      response_type: responseParse.response_type,\n      valid_response: responseParse.valid_response ? 'TRUE' : 'FALSE',\n      response_parse_error: responseParse.response_parse_error,\n      returned_model: j.model || '',\n      provider_route: j.provider || '',\n      finish_reason: j.choices?.[0]?.finish_reason || '',\n      native_finish_reason: j.choices?.[0]?.native_finish_reason || '',\n      reasoning_tokens: reasoningTokens ?? '',\n      parsed_number: valid ? parsed : '',\n      valid_number: valid ? 'TRUE' : 'FALSE',\n      parse_error: valid ? '' : 'No integer from 1 to 100 found',\n      is_odd: valid ? String(parsed % 2 !== 0).toUpperCase() : '',\n      is_even: valid ? String(parsed % 2 === 0).toUpperCase() : '',\n      is_prime: valid ? String(isPrime(parsed)).toUpperCase() : '',\n      is_edge: valid ? String(parsed <= 10 || parsed >= 91).toUpperCase() : '',\n      is_round: valid ? String(parsed % 10 === 0 || parsed % 5 === 0).toUpperCase() : '',\n      contains_7: valid ? String(String(parsed).includes('7')).toUpperCase() : '',\n      ends_with_7: valid ? String(String(parsed).endsWith('7')).toUpperCase() : '',\n      distance_from_50: valid ? Math.abs(parsed - 50) : '',\n      latency_ms: latencyMs,\n      prompt_tokens: promptTokens ?? '',\n      completion_tokens: completionTokens ?? '',\n      total_tokens: totalTokens ?? '',\n      cost_estimate_usd: cost ?? '',\n      error_status: errorStatus,\n      error_message: errorMessage,\n      notes: j.notes || '',\n      requested_provider_order: j.provider_order || '',\n      requested_allow_fallbacks: j.allow_fallbacks || '',\n      requested_require_parameters: j.require_parameters || '',\n      requested_provider_ignore: j.provider_ignore || '',\n    },\n  };\n});"
      },
      "id": "711c71ee-4a9b-4a94-aebf-f2814ed9cf02",
      "name": "Parse Random Number Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        80
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "ExperimentResults"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "sample_id": "={{ $json.sample_id }}",
            "measured_at": "={{ $json.measured_at }}",
            "case_id": "={{ $json.case_id }}",
            "model_id": "={{ $json.model_id }}",
            "provider_label": "={{ $json.provider_label }}",
            "prompt_id": "={{ $json.prompt_id }}",
            "prompt_text": "={{ $json.prompt_text }}",
            "condition_label": "={{ $json.condition_label }}",
            "temperature": "={{ $json.temperature }}",
            "top_p": "={{ $json.top_p }}",
            "max_tokens": "={{ $json.max_tokens }}",
            "repetition_index": "={{ $json.repetition_index }}",
            "seed_policy": "={{ $json.seed_policy }}",
            "seed_value": "={{ $json.seed_value }}",
            "response_text": "={{ $json.response_text }}",
            "parsed_number": "={{ $json.parsed_number }}",
            "valid_number": "={{ $json.valid_number }}",
            "parse_error": "={{ $json.parse_error }}",
            "is_odd": "={{ $json.is_odd }}",
            "is_even": "={{ $json.is_even }}",
            "is_prime": "={{ $json.is_prime }}",
            "is_edge": "={{ $json.is_edge }}",
            "is_round": "={{ $json.is_round }}",
            "contains_7": "={{ $json.contains_7 }}",
            "ends_with_7": "={{ $json.ends_with_7 }}",
            "distance_from_50": "={{ $json.distance_from_50 }}",
            "latency_ms": "={{ $json.latency_ms }}",
            "prompt_tokens": "={{ $json.prompt_tokens }}",
            "completion_tokens": "={{ $json.completion_tokens }}",
            "total_tokens": "={{ $json.total_tokens }}",
            "cost_estimate_usd": "={{ $json.cost_estimate_usd }}",
            "error_status": "={{ $json.error_status }}",
            "error_message": "={{ $json.error_message }}",
            "notes": "={{ $json.notes }}",
            "requested_provider_order": "={{ $json.requested_provider_order }}",
            "requested_allow_fallbacks": "={{ $json.requested_allow_fallbacks }}",
            "requested_require_parameters": "={{ $json.requested_require_parameters }}",
            "requested_provider_ignore": "={{ $json.requested_provider_ignore }}",
            "reasoning_effort": "={{ $json.reasoning_effort }}",
            "returned_model": "={{ $json.returned_model }}",
            "provider_route": "={{ $json.provider_route }}",
            "finish_reason": "={{ $json.finish_reason }}",
            "native_finish_reason": "={{ $json.native_finish_reason }}",
            "reasoning_tokens": "={{ $json.reasoning_tokens }}",
            "response_value": "={{ $json.response_value }}",
            "response_type": "={{ $json.response_type }}",
            "valid_response": "={{ $json.valid_response }}",
            "response_parse_error": "={{ $json.response_parse_error }}"
          },
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "600553e5-7862-4934-b9b6-d67c710d0413",
      "name": "Append Experiment Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        260,
        80
      ],
      "credentials": null
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Experiment Cases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Experiment Cases": {
      "main": [
        [
          {
            "node": "Expand Experiment Matrix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Experiment Matrix": {
      "main": [
        [
          {
            "node": "OpenRouter Chat Completion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Request + Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Completion": {
      "main": [
        [
          {
            "node": "Merge Request + Response",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Request + Response": {
      "main": [
        [
          {
            "node": "Parse Random Number Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Random Number Result": {
      "main": [
        [
          {
            "node": "Append Experiment Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-21T00:00:00.000Z",
  "versionId": null,
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
